body{
    margin: 0%;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: gray;
    padding: 10px;

}

.grid-item{
    background-color: white;
    border: 3px solid black;
    font-size: 20px;
    background-color:  silver;
    text-align: center;
}

.grid-item-2{
    background-color: white;
    border: 3px solid darkgray;
    font-size: 14px;
    background-color:  grey;
    margin: 5px;
    text-align: left;
}