
.footer-container{
      height: 100%;
      background-color: black;
        display: block;
        position: relative;
        top: 180px;
      

        padding: 0;
        border-top: 1px solid black;
        border-bottom: 0.5px solid black;
        
    }
    .footer-innercontainer{
    
        display: block;
        margin: 10px;
        padding: 10px;
        border-bottom: 0.5px solid white;
    }
    nav ul{
        display: flex;
        justify-content: space-evenly;
    }
    nav ul li{
        border-right: none;
        list-style: none;
        margin: 10px;
        padding: auto;
    }
    nav ul li a{
        display: block;
        text-decoration: none;
        color: white;
        font-size: 15px;
      
    }
   
    .footer-title{
        color: white;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .voorwaarden{
        display: flex;
        justify-content: space-around;
    }
    .inner-voorwaarden{
        margin: 10px;
    }
    #voorwarden-items{
        font-size: 15px;
        margin: 10px;
        padding: 10px;
        color: white;
    }
    #voorwarden-items:hover{
    font-size: 17px;
    transition: ease-in-out 1s;
    }
    #footer-subtitle{
        font-size: 10px;
        margin: 15px;
        color: white;
    }
    .footer-item{
        text-decoration: none;
    }
    @media all and(max-width:1000px){
        .footer-nav .footer-ul{
            display: block;
          }
          .footer-nav .footer-ul li a{
              margin: 10px;
              padding: 5px;
          }
          .footer-nav .footer-ul li a:hover{
            text-decoration: underline;
          }
        .footer-title{
            color: burlywood;
        }
        #voorwarden-items{
            font-size: 10px;
            margin: 10px;
            padding: 10px;
            color: white;
        }
        #voorwarden-items:hover{
        font-size: 13px ;
        transition: ease-in-out 1s;
        }
    }

